In [1]:
import datetime, multiprocessing, logging, os, re, shutil, sys, sqlite3, subprocess, time
import pandas as pd
from utils.createDB import *

##################
### Administration
##################
logging.basicConfig(filename= 'log.txt', level=logging.INFO, 
                    format='%(asctime)s - %(levelname)s - %(message)s')

## 1. Making new Database and related tables and schemas

In [2]:
workingFolder_Indian = "SgIndian_vcf/dataFreeze_Feb2013/SNP/biAllele/"

workingFolder_Malay = "SgMalay_vcf/2012_05/snps/"

workingFolder_Chinese = "1000G/Phase3/integrated/"

# Filing number of unique samples found in the working folder...

freqFiles_Indian = [f for f in os.listdir(workingFolder_Indian) if re.match(r'chr[A-Z0-9]+_analysis_exome\.frq', f)]
rsIDFiles_Indian = [f for f in os.listdir(workingFolder_Indian) if re.match(r'chr[A-Z0-9]+_rsID', f)]
freqFiles_Malay = [f for f in os.listdir(workingFolder_Malay) if re.match(r'chr[A-Z0-9]+_analysis_exome\.frq', f)]
rsIDFiles_Malay = [f for f in os.listdir(workingFolder_Malay) if re.match(r'chr[A-Z0-9]+_rsID', f)]
freqFiles_Chinese = [f for f in os.listdir(workingFolder_Chinese) if re.match(r'chr[A-Z0-9]+_analysis_exome\.frq', f)]
rsIDFiles_Chinese = [f for f in os.listdir(workingFolder_Chinese) if re.match(r'chr[A-Z0-9]+_rsID', f)]

freqFilesID_pre = re.compile(r'(chr[A-Z0-9]+)_analysis_exome\.frq')
freqFilesID = []
for file in freqFiles_Indian:
    freqFilesID.append(freqFilesID_pre.findall(file))

print(freqFilesID)

[['chr1'], ['chr2'], ['chr3'], ['chr4'], ['chr5'], ['chr6'], ['chr7'], ['chr8'], ['chr9'], ['chr10'], ['chr11'], ['chr12'], ['chr13'], ['chr14'], ['chr15'], ['chr16'], ['chr17'], ['chr18'], ['chr19'], ['chr20'], ['chr21'], ['chr22'], ['chrX']]

In [3]:
workingFolder_Indian = "SgIndian_vcf/dataFreeze_Feb2013/SNP/biAllele/"

workingFolder_Malay = "SgMalay_vcf/2012_05/snps/"

workingFolder_Chinese = "1000G/Phase3/integrated/"

# Filing number of unique samples found in the working folder...

freqFiles_Indian = [f for f in os.listdir(workingFolder_Indian) if re.match(r'chr[A-Z0-9]+_analysis\.frq', f)]
rsIDFiles_Indian = [f for f in os.listdir(workingFolder_Indian) if re.match(r'chr[A-Z0-9]+_rsID', f)]
freqFiles_Malay = [f for f in os.listdir(workingFolder_Malay) if re.match(r'chr[A-Z0-9]+_analysis\.frq', f)]
rsIDFiles_Malay = [f for f in os.listdir(workingFolder_Malay) if re.match(r'chr[A-Z0-9]+_rsID', f)]
freqFiles_Chinese = [f for f in os.listdir(workingFolder_Chinese) if re.match(r'chr[A-Z0-9]+_analysis\.frq', f)]
rsIDFiles_Chinese = [f for f in os.listdir(workingFolder_Chinese) if re.match(r'chr[A-Z0-9]+_rsID', f)]

freqFilesID_pre = re.compile(r'(chr[A-Z0-9]+)_analysis\.frq')
freqFilesID = []
for file in freqFiles_Indian:
    freqFilesID.append(freqFilesID_pre.findall(file))

print(freqFilesID)

[['chr1'], ['chr2'], ['chr3'], ['chr4'], ['chr5'], ['chr6'], ['chr7'], ['chr8'], ['chr9'], ['chr10'], ['chr11'], ['chr12'], ['chr13'], ['chr14'], ['chr15'], ['chr16'], ['chr17'], ['chr18'], ['chr19'], ['chr20'], ['chr21'], ['chr22'], ['chrX']]

## 2.1 Parsing the Malay vcf manually to generate rsID table
### >>> created only for the Singapore Malay vcf as command below produced error as such:: 
```
    $ bcftools query -f '%CHROM\t%POS\t%ID\n' SSM.chr8.2012_05.genotypes.vcf.gz -o chr8_rsID 
    $ [E::bcf_hdr_add_sample] Empty sample name: trailing spaces/tabs in the header line?
```

In [5]:
# to gunzip vcf.gz for Malay only
startTime = time.time()
for ID in freqFilesID:
    #print('gunzip '+  workingFolder_Malay + '/SSM.' + ID[0] + '.2012_05.genotypes.vcf.gz')
    try:
        proc1 = subprocess.Popen(['gunzip', workingFolder_Malay + '/SSM.' + ID[0] + '.2012_05.genotypes.vcf.gz'],
                             stdin=subprocess.PIPE, stdout=subprocess.PIPE)
        out, err = proc1.communicate()
        logging.info('gunzip ' +  workingFolder_Malay + '/SSM.' + ID[0] + '.2012_05.genotypes.vcf.gz')
    except:
        logging.info(workingFolder_Malay + '/SSM.' + ID[0] + '.2012_05.genotypes.vcf.gz not present')
        pass
timeTaken = time.time()-startTime 
print(datetime.datetime.now().strftime('%Y/%m/%d %H:%M:%S'), 
      '- gunzip completed: Took {} seconds to complete.'.format(timeTaken))

2017/09/25 14:03:47 - gunzip completed: Took 0.15651512145996094 seconds to complete.

In [4]:
# Manually load data from a raw vcf for Malay population only
startTime = time.time()
makedb('dbase_Sqlite', 'Malay_rsID', "(CHROM int(2), POS int(10), ID char(15))")
for ID in freqFilesID:    
    loaddb_vcf_rsID('Malay_rsID', 'dbase_Sqlite', workingFolder_Malay + '/SSM.' + ID[0] + '.2012_05.genotypes.vcf')
    logging.info('Inserting values from ' +  workingFolder_Malay + 'SSM.' + ID[0] + 
                 '.2012_05.genotypes.vcf to Malay_rsID table of dbase_Sqlite database')
timeTaken = time.time()-startTime 
print(datetime.datetime.now().strftime('%Y/%m/%d %H:%M:%S'), 
      '- Data Loading for Malay_rsID of dbase_Sqlite database completed: Took {} seconds to complete.'.format(timeTaken))

database table did not exist
1083000 rows loaded
1133594 rows loaded
968661 rows loaded
971842 rows loaded
867221 rows loaded
869666 rows loaded
788835 rows loaded
725514 rows loaded
608992 rows loaded
674869 rows loaded
658585 rows loaded
642006 rows loaded
495844 rows loaded
449884 rows loaded
402798 rows loaded
439312 rows loaded
374617 rows loaded
380061 rows loaded
304836 rows loaded
300481 rows loaded
205222 rows loaded
193427 rows loaded
438388 rows loaded
2017/09/26 11:27:16 - Data Loading for Malay_rsID of dbase_Sqlite database completed: Took 1312.1018340587616 seconds to complete.

## 2.2 Processing the rest of the tables

In [9]:
# For Malay Data
startTime = time.time()
makedb('dbase_Sqlite', 'Malay_Data', "(CHROM int(2), POS int(10), N_ALLELES int(1), N_CHR int(4), Malay_ALLELE_FREQ_1 char(30), Malay_ALLELE_FREQ_2 char(30))")
for ID in freqFilesID:
    loaddb('Malay_Data', 'dbase_Sqlite', workingFolder_Malay + ID[0] +'_analysis_exome.frq')
    logging.info('Inserting values from ' +  workingFolder_Malay + ID[0] + '_analysis_exome.frq ' +
                 'to Malay_Data table of dbase_Sqlite database')
timeTaken = time.time()-startTime 
print(datetime.datetime.now().strftime('%Y/%m/%d %H:%M:%S'), 
      '- Data Loading for Malay_Data table of dbase_Sqlite database completed: Took {} '
      'seconds to complete.'.format(timeTaken))

Dropped table Malay_Data
495949 rows loaded
473812 rows loaded
427107 rows loaded
319134 rows loaded
315630 rows loaded
343037 rows loaded
358234 rows loaded
288072 rows loaded
251232 rows loaded
305268 rows loaded
276140 rows loaded
276714 rows loaded
179544 rows loaded
177553 rows loaded
192212 rows loaded
201781 rows loaded
203496 rows loaded
145761 rows loaded
156652 rows loaded
134502 rows loaded
79045 rows loaded
97823 rows loaded
127540 rows loaded
2017/09/18 13:28:21 - Data Loading for Malay_Data table of dbase_Sqlite database completed: Took 145.07900977134705 seconds to complete.

In [5]:
# For Malay Data
startTime = time.time()
makedb('dbase_Sqlite', 'Malay_Data', "(CHROM int(2), POS int(10), N_ALLELES int(1), N_CHR int(4), Malay_ALLELE_FREQ_1 char(30), Malay_ALLELE_FREQ_2 char(30))")
for ID in freqFilesID:
    loaddb('Malay_Data', 'dbase_Sqlite', workingFolder_Malay + ID[0] +'_analysis.frq')
    logging.info('Inserting values from ' +  workingFolder_Malay + ID[0] + '_analysis.frq ' +
                 'to Malay_Data table of dbase_Sqlite database')
timeTaken = time.time()-startTime 
print(datetime.datetime.now().strftime('%Y/%m/%d %H:%M:%S'), 
      '- Data Loading for Malay_Data table of dbase_Sqlite database completed: Took {} '
      'seconds to complete.'.format(timeTaken))

database table did not exist
1083001 rows loaded
1133595 rows loaded
968662 rows loaded
971843 rows loaded
867222 rows loaded
869667 rows loaded
788836 rows loaded
725515 rows loaded
608993 rows loaded
674870 rows loaded
658586 rows loaded
642007 rows loaded
495845 rows loaded
449885 rows loaded
402799 rows loaded
439313 rows loaded
374618 rows loaded
380062 rows loaded
304837 rows loaded
300482 rows loaded
205223 rows loaded
193428 rows loaded
438389 rows loaded
2017/09/26 11:32:47 - Data Loading for Malay_Data table of dbase_Sqlite database completed: Took 331.12626004219055 seconds to complete.

In [10]:
# For Indian Data and rsID
startTime = time.time()

########
makedb('dbase_Sqlite', 'Indian_Data', "(CHROM int(2), POS int(10), N_ALLELES int(1), N_CHR int(4), Indian_ALLELE_FREQ_1 char(30), Indian_ALLELE_FREQ_2 char(30))")
########
for ID in freqFilesID:
    loaddb('Indian_Data', 'dbase_Sqlite', workingFolder_Indian + ID[0] +'_analysis_exome.frq')
    logging.info('Inserting values from ' +  workingFolder_Indian + ID[0] + '_analysis_exome.frq ' +
                 'to Indian_Data table of dbase_Sqlite database')
timeTaken = time.time()-startTime 
print(datetime.datetime.now().strftime('%Y/%m/%d %H:%M:%S'), 
      '- Data Loading for Indian_Data table of dbase_Sqlite database completed: Took {} '
      'seconds to complete.'.format(timeTaken))

########
makedb('dbase_Sqlite', 'Indian_rsID', "(CHROM int(2), POS int(10), ID char(15))")
########
for ID in freqFilesID:
    loaddb('Indian_rsID', 'dbase_Sqlite', workingFolder_Indian + ID[0] +'_rsID')
    logging.info('Inserting values from ' +  workingFolder_Indian + ID[0] + '_rsID ' +
                 'to Indian_rsID table of dbase_Sqlite database')
timeTaken = time.time()-startTime 
print(datetime.datetime.now().strftime('%Y/%m/%d %H:%M:%S'), 
      '- Data Loading for Indian_rsID table of dbase_Sqlite database completed: Took {} '
      'seconds to complete.'.format(timeTaken))

Dropped table Indian_Data
360948 rows loaded
351734 rows loaded
319554 rows loaded
239662 rows loaded
229688 rows loaded
262924 rows loaded
264721 rows loaded
217646 rows loaded
187289 rows loaded
238043 rows loaded
212019 rows loaded
209176 rows loaded
133154 rows loaded
131562 rows loaded
141056 rows loaded
149545 rows loaded
153232 rows loaded
110543 rows loaded
119277 rows loaded
99313 rows loaded
56857 rows loaded
72879 rows loaded
103129 rows loaded
2017/09/18 13:30:02 - Data Loading for Indian_Data table of dbase_Sqlite database completed: Took 101.91107702255249 seconds to complete.
Dropped table Indian_rsID
785530 rows loaded
827584 rows loaded
710296 rows loaded
709721 rows loaded
626341 rows loaded
656058 rows loaded
577635 rows loaded
540886 rows loaded
428838 rows loaded
519887 rows loaded
493299 rows loaded
475870 rows loaded
368359 rows loaded
316561 rows loaded
285815 rows loaded
312606 rows loaded
278781 rows loaded
283745 rows loaded
231812 rows loaded
216698 rows loaded
138793 rows loaded
137785 rows loaded
358334 rows loaded
2017/09/18 13:32:41 - Data Loading for Indian_rsID table of dbase_Sqlite database completed: Took 260.69682025909424 seconds to complete.

In [6]:
# For Indian Data and rsID
startTime = time.time()

########
makedb('dbase_Sqlite', 'Indian_Data', "(CHROM int(2), POS int(10), N_ALLELES int(1), N_CHR int(4), Indian_ALLELE_FREQ_1 char(30), Indian_ALLELE_FREQ_2 char(30))")
########
for ID in freqFilesID:
    loaddb('Indian_Data', 'dbase_Sqlite', workingFolder_Indian + ID[0] +'_analysis.frq')
    logging.info('Inserting values from ' +  workingFolder_Indian + ID[0] + '_analysis.frq ' +
                 'to Indian_Data table of dbase_Sqlite database')
timeTaken = time.time()-startTime 
print(datetime.datetime.now().strftime('%Y/%m/%d %H:%M:%S'), 
      '- Data Loading for Indian_Data table of dbase_Sqlite database completed: Took {} '
      'seconds to complete.'.format(timeTaken))

########
makedb('dbase_Sqlite', 'Indian_rsID', "(CHROM int(2), POS int(10), ID char(15))")
########
for ID in freqFilesID:
    loaddb('Indian_rsID', 'dbase_Sqlite', workingFolder_Indian + ID[0] +'_rsID')
    logging.info('Inserting values from ' +  workingFolder_Indian + ID[0] + '_rsID ' +
                 'to Indian_rsID table of dbase_Sqlite database')
timeTaken = time.time()-startTime 
print(datetime.datetime.now().strftime('%Y/%m/%d %H:%M:%S'), 
      '- Data Loading for Indian_rsID table of dbase_Sqlite database completed: Took {} '
      'seconds to complete.'.format(timeTaken))

database table did not exist
785531 rows loaded
827585 rows loaded
710297 rows loaded
709722 rows loaded
626342 rows loaded
656059 rows loaded
577636 rows loaded
540887 rows loaded
428839 rows loaded
519888 rows loaded
493300 rows loaded
475871 rows loaded
368360 rows loaded
316562 rows loaded
285816 rows loaded
312607 rows loaded
278782 rows loaded
283746 rows loaded
231813 rows loaded
216699 rows loaded
138794 rows loaded
137786 rows loaded
358335 rows loaded
2017/09/26 11:37:03 - Data Loading for Indian_Data table of dbase_Sqlite database completed: Took 256.14187502861023 seconds to complete.
database table did not exist
785530 rows loaded
827584 rows loaded
710296 rows loaded
709721 rows loaded
626341 rows loaded
656058 rows loaded
577635 rows loaded
540886 rows loaded
428838 rows loaded
519887 rows loaded
493299 rows loaded
475870 rows loaded
368359 rows loaded
316561 rows loaded
285815 rows loaded
312606 rows loaded
278781 rows loaded
283745 rows loaded
231812 rows loaded
216698 rows loaded
138793 rows loaded
137785 rows loaded
358334 rows loaded
2017/09/26 11:39:59 - Data Loading for Indian_rsID table of dbase_Sqlite database completed: Took 431.68398904800415 seconds to complete.

In [3]:
# For Chinese Data and rsID
startTime = time.time()

######
query_Data = "(CHROM int(2), POS int(10), N_ALLELES int(1), N_CHR int(4), Chinese_ALLELE_FREQ_1 char(50), Chinese_ALLELE_FREQ_2 char(50), Chinese_ALLELE_FREQ_3 char(50), Chinese_ALLELE_FREQ_4 char(50))"
makedb('dbase_Sqlite', 'Chinese_Data', query_Data)
######

for ID in freqFilesID:
    loaddb_chineseData('Chinese_Data', 'dbase_Sqlite', workingFolder_Chinese + ID[0] +'_analysis_exome.frq')
    logging.info('Inserting values from ' +  workingFolder_Chinese + ID[0] + '_analysis_exome.frq ' +
                 'to Chinese_Data table of dbase_Sqlite database')
timeTaken = time.time()-startTime  
print(datetime.datetime.now().strftime('%Y/%m/%d %H:%M:%S'), 
      '- Data Loading for Chinese_Data table of dbase_Sqlite database completed: Took {} '
      'seconds to complete.'.format(timeTaken))

######
makedb('dbase_Sqlite', 'Chinese_rsID', '(CHROM int(2), POS int(10), ID chr(15))')
#######
for ID in freqFilesID:
    loaddb('Chinese_rsID', 'dbase_Sqlite', workingFolder_Chinese + ID[0] +'_rsID')
    logging.info('Inserting values from ' +  workingFolder_Chinese + ID[0] + '_rsID ' +
                 'to Chinese_rsID table of dbase_Sqlite database')
timeTaken = time.time()-startTime 
print(datetime.datetime.now().strftime('%Y/%m/%d %H:%M:%S'), 
      '- Data Loading for Chinese_rsID table of dbase_Sqlite database completed: Took {} '
      'seconds to complete.'.format(timeTaken))

Dropped table Chinese_Data
3106369 rows loaded
3059890 rows loaded
528812 rows loaded
1995361 rows loaded
2008553 rows loaded
2093915 rows loaded
2244496 rows loaded
1879243 rows loaded
1576940 rows loaded
1876124 rows loaded
1794253 rows loaded
1724928 rows loaded
1068998 rows loaded
1114582 rows loaded
1211192 rows loaded
1291652 rows loaded
1319479 rows loaded
912144 rows loaded
978074 rows loaded
848002 rows loaded
460086 rows loaded
607655 rows loaded
1081892 rows loaded
2017/09/18 14:54:17 - Data Loading for Chinese_Data table of dbase_Sqlite database completed: Took 2592.873679161072 seconds to complete.
Dropped table Chinese_rsID
6468093 rows loaded
7081599 rows loaded
1194554 rows loaded
5732584 rows loaded
5265762 rows loaded
5024118 rows loaded
4716714 rows loaded
4597104 rows loaded
3560686 rows loaded
3992218 rows loaded
4045627 rows loaded
3868427 rows loaded
2857915 rows loaded
2655066 rows loaded
2424688 rows loaded
2697948 rows loaded
2329287 rows loaded
2267184 rows loaded
1832505 rows loaded
1812840 rows loaded
1105537 rows loaded
1103546 rows loaded
3468092 rows loaded
2017/09/18 15:15:02 - Data Loading for Chinese_rsID table of dbase_Sqlite database completed: Took 3838.4635741710663 seconds to complete.

In [7]:
# For Chinese Data and rsID
startTime = time.time()

######
query_Data = "(CHROM int(2), POS int(10), N_ALLELES int(1), N_CHR int(4), Chinese_ALLELE_FREQ_1 char(50), Chinese_ALLELE_FREQ_2 char(50), Chinese_ALLELE_FREQ_3 char(50), Chinese_ALLELE_FREQ_4 char(50))"
makedb('dbase_Sqlite', 'Chinese_Data', query_Data)
######

for ID in freqFilesID:
    loaddb_chineseData('Chinese_Data', 'dbase_Sqlite', workingFolder_Chinese + ID[0] +'_analysis.frq')
    logging.info('Inserting values from ' +  workingFolder_Chinese + ID[0] + '_analysis.frq ' +
                 'to Chinese_Data table of dbase_Sqlite database')
timeTaken = time.time()-startTime  
print(datetime.datetime.now().strftime('%Y/%m/%d %H:%M:%S'), 
      '- Data Loading for Chinese_Data table of dbase_Sqlite database completed: Took {} '
      'seconds to complete.'.format(timeTaken))

######
makedb('dbase_Sqlite', 'Chinese_rsID', '(CHROM int(2), POS int(10), ID chr(15))')
#######
for ID in freqFilesID:
    loaddb('Chinese_rsID', 'dbase_Sqlite', workingFolder_Chinese + ID[0] +'_rsID')
    logging.info('Inserting values from ' +  workingFolder_Chinese + ID[0] + '_rsID ' +
                 'to Chinese_rsID table of dbase_Sqlite database')
timeTaken = time.time()-startTime 
print(datetime.datetime.now().strftime('%Y/%m/%d %H:%M:%S'), 
      '- Data Loading for Chinese_rsID table of dbase_Sqlite database completed: Took {} '
      'seconds to complete.'.format(timeTaken))

database table did not exist
6468094 rows loaded
7081600 rows loaded
1194557 rows loaded
5732585 rows loaded
5265763 rows loaded
5024119 rows loaded
4716715 rows loaded
4597105 rows loaded
3560687 rows loaded
3992219 rows loaded
4045628 rows loaded
3868428 rows loaded
2857916 rows loaded
2655067 rows loaded
2424689 rows loaded
2697949 rows loaded
2329288 rows loaded
2267185 rows loaded
1832506 rows loaded
1812841 rows loaded
1105538 rows loaded
1103547 rows loaded
3468093 rows loaded
2017/09/26 13:14:12 - Data Loading for Chinese_Data table of dbase_Sqlite database completed: Took 5514.521049976349 seconds to complete.
database table did not exist
6468093 rows loaded
7081599 rows loaded
1194554 rows loaded
5732584 rows loaded
5265762 rows loaded
5024118 rows loaded
4716714 rows loaded
4597104 rows loaded
3560686 rows loaded
3992218 rows loaded
4045627 rows loaded
3868427 rows loaded
2857915 rows loaded
2655066 rows loaded
2424688 rows loaded
2697948 rows loaded
2329287 rows loaded
2267184 rows loaded
1832505 rows loaded
1812840 rows loaded
1105537 rows loaded
1103546 rows loaded
3468092 rows loaded
2017/09/26 13:31:58 - Data Loading for Chinese_rsID table of dbase_Sqlite database completed: Took 6581.067839860916 seconds to complete.

## 3. Checking the table race_Data and race_rsID

In [4]:
conn = sqlite3.connect('dbase_Sqlite')
df = pd.read_sql_query("select * from Chinese_rsID limit 5", conn)
df

   CHROM    POS           ID
0      1  10235  rs540431307
1      1  10352  rs555500075
2      1  10505  rs548419688
3      1  10506  rs568405545
4      1  10511  rs534229142

In [5]:
df = pd.read_sql_query("select * from Chinese_Data limit 5", conn)
df

,CHROM,POS,N_ALLELES,N_CHR,Chinese_ALLELE_FREQ_1,Chinese_ALLELE_FREQ_2,Chinese_ALLELE_FREQ_3,Chinese_ALLELE_FREQ_4
0,1,13011,2,186,T:1,G:0,None,None
1,1,13110,2,186,G:1,A:0,None,None
2,1,13116,2,186,T:0.994624,G:0.00537634,None,None
3,1,13118,2,186,A:0.994624,G:0.00537634,None,None
4,1,13156,2,186,G:1,C:0,None,None

In [6]:
df = pd.read_sql_query("select count(CHROM) from Chinese_Data", conn)
df

   count(CHROM)
0      34781080

## 4. Create combined tables (Data + rsID) for Malay, Indian, and Chinese

In [8]:
# Malay

query = '''SELECT 
                Malay_Data.CHROM, 
                Malay_Data.POS, 
                N_ALLELES, 
                N_CHR, 
                Malay_ALLELE_FREQ_1, 
                Malay_ALLELE_FREQ_2, 
                Malay_rsID.ID 
            FROM 
                Malay_Data 
            INNER JOIN 
                Malay_rsID 
            ON 
                Malay_Data.POS = Malay_rsID.POS'''

combinetables('dbase_Sqlite', 'Malay',  query)

database table did not exist

In [9]:
# Indian

query = '''SELECT 
                Indian_Data.CHROM, 
                Indian_Data.POS, 
                N_ALLELES, 
                N_CHR, 
                Indian_ALLELE_FREQ_1, 
                Indian_ALLELE_FREQ_2, 
                Indian_rsID.ID 
            FROM 
                Indian_Data 
            INNER JOIN 
                Indian_rsID 
            ON 
                Indian_Data.POS = Indian_rsID.POS'''

combinetables('dbase_Sqlite', 'Indian',  query)

database table did not exist

In [10]:
# Chinese

query = '''SELECT 
                Chinese_Data.CHROM, 
                Chinese_Data.POS, 
                N_ALLELES, 
                N_CHR, 
                Chinese_ALLELE_FREQ_1, 
                Chinese_ALLELE_FREQ_2, 
                Chinese_ALLELE_FREQ_3,
                Chinese_ALLELE_FREQ_4,
                Chinese_rsID.ID 
            FROM 
                Chinese_Data 
            INNER JOIN 
                Chinese_rsID 
            ON 
                Chinese_Data.POS = Chinese_rsID.POS'''

combinetables('dbase_Sqlite', 'Chinese',  query)

database table did not exist

## 5. Drop unneccessary race_Data and race_rsID tables

In [10]:
# cleardb('dbase_Sqlite', 'Malay_Data')
# cleardb('dbase_Sqlite', 'Malay_rsID')
# cleardb('dbase_Sqlite', 'Indian_Data')
# cleardb('dbase_Sqlite', 'Indian_rsID')
# cleardb('dbase_Sqlite', 'Chinese_Data')
# cleardb('dbase_Sqlite', 'Chinese_rsID')

In [13]:
conn = sqlite3.connect('dbase_Sqlite')
df = pd.read_sql_query("select count(*) from Indian", conn)
df2 = pd.read_sql_query("select count(*) from Chinese", conn)
df3 = pd.read_sql_query("select count(*) from Malay", conn)

   count(*)
0  10845263     count(*)
0  123388374    count(*)
0  14564322

In [14]:
print(df+df2+df3)

    count(*)
0  148797959

In [2]:
queryMergeCM = '''
            CREATE TABLE CM AS
            SELECT 
                * 
            FROM 
                Chinese 
            LEFT OUTER JOIN 
                Malay
            ON
                Chinese.POS = Malay.POS AND Chinese.CHROM = Malay.CHROM
            UNION ALL
            SELECT 
                *
            FROM
                Malay
            LEFT OUTER JOIN
                Chinese
            ON 
                Chinese.POS = Malay.POS AND Chinese.CHROM = Malay.CHROM
            WHERE Chinese.POS IS NULL
            '''

queryMergeCI = '''
            CREATE TABLE CI AS
            SELECT 
                * 
            FROM 
                Chinese 
            LEFT OUTER JOIN 
                Indian
            ON
                Chinese.POS = Indian.POS AND Chinese.CHROM = Indian.CHROM
            UNION ALL
            SELECT 
                *
            FROM
                Indian
            LEFT OUTER JOIN
                Chinese
            ON 
                Chinese.POS = Indian.POS AND Chinese.CHROM = Indian.CHROM
            WHERE Chinese.POS IS NULL
            '''

queryMergeCMI = '''
            CREATE TABLE CMI AS
            SELECT 
                *
            FROM 
                CM 
            LEFT OUTER JOIN 
                CI
            ON
                CM.POS = CI.POS AND CM.CHROM = CI.CHROM
            UNION ALL
            SELECT 
                * 
            FROM 
                CI 
            LEFT OUTER JOIN 
                CM
            ON
                CM.POS = CI.POS AND CM.CHROM = CI.CHROM  
            WHERE CM.POS IS NULL
            '''

queryAlterTableName = '''
                        ALTER TABLE CMI RENAME TO _CMI_old
                        '''

queryCMI = '''
         CREATE TABLE CMI
            (CHROM INTEGER,
              POS INTEGER,
              N_ALLELES INTEGER,
              N_CHR_Chinese INTEGER,
              Chinese_ALLELE_FREQ_1 VARCHAR,
              Chinese_ALLELE_FREQ_2 VARCHAR,
              Chinese_ALLELE_FREQ_3 VARCHAR,
              Chinese_ALLELE_FREQ_4 VARCHAR,
              ID VARCHAR,
              N_CHR_Malay INTEGER,
              Malay_ALLELE_FREQ_1 VARCHAR,
              Malay_ALLELE_FREQ_2 VARCHAR,
              N_CHR_Indian INTEGER,
              Indian_ALLELE_FREQ_1 VARCHAR,
              Indian_ALLELE_FREQ_2 VARCHAR);
        '''

queryCMIIndex = '''
         CREATE INDEX idx_chrom_pos 
            ON 
                CMI (CHROM, POS);
        '''

queryCMIInsert = '''
        INSERT INTO CMI
            (CHROM,
              POS,
              N_ALLELES,
              N_CHR_Chinese,
              Chinese_ALLELE_FREQ_1,
              Chinese_ALLELE_FREQ_2,
              Chinese_ALLELE_FREQ_3,
              Chinese_ALLELE_FREQ_4,
              ID,
              N_CHR_Malay,
              Malay_ALLELE_FREQ_1,
              Malay_ALLELE_FREQ_2,
              N_CHR_Indian,
              Indian_ALLELE_FREQ_1,
              Indian_ALLELE_FREQ_2)
         SELECT 
             "CHROM",
             "POS",
             "N_ALLELES",
             "N_CHR",
             "Chinese_ALLELE_FREQ_1",
             "Chinese_ALLELE_FREQ_2",
             "Chinese_ALLELE_FREQ_3",
             "Chinese_ALLELE_FREQ_4",
             "ID",
             "N_CHR:1",
             "Malay_ALLELE_FREQ_1",
             "Malay_ALLELE_FREQ_2",
             "N_CHR:3",
             "Indian_ALLELE_FREQ_1",
             "Indian_ALLELE_FREQ_2"
         FROM _CMI_old;
        '''

# combinetables('dbase_Sqlite', 'CMI',  query)

In [4]:
conn = sqlite3.connect('dbase_Sqlite')  # create or open db file
# curs = conn.cursor()

# curs.execute("Drop table CM;")
# conn.commit()

# curs.execute(query)
# conn.commit()

# curs.execute(query2)
# conn.commit()

# curs.execute(query3)
# conn.commit()
curs=conn.execute("select * from CMI")
names = list(map(lambda x: x[0], curs.description))
names

['CHROM',
 'POS',
 'N_ALLELES',
 'N_CHR',
 'Chinese_ALLELE_FREQ_1',
 'Chinese_ALLELE_FREQ_2',
 'Chinese_ALLELE_FREQ_3',
 'Chinese_ALLELE_FREQ_4',
 'ID',
 'CHROM:1',
 'POS:1',
 'N_ALLELES:1',
 'N_CHR:1',
 'Malay_ALLELE_FREQ_1',
 'Malay_ALLELE_FREQ_2',
 'ID:1',
 'CHROM:2',
 'POS:2',
 'N_ALLELES:2',
 'N_CHR:2',
 'Chinese_ALLELE_FREQ_1:1',
 'Chinese_ALLELE_FREQ_2:1',
 'Chinese_ALLELE_FREQ_3:1',
 'Chinese_ALLELE_FREQ_4:1',
 'ID:2',
 'CHROM:3',
 'POS:3',
 'N_ALLELES:3',
 'N_CHR:3',
 'Indian_ALLELE_FREQ_1',
 'Indian_ALLELE_FREQ_2',
 'ID:3']

In [5]:
conn = sqlite3.connect('dbase_Sqlite')  # create or open db file
curs = conn.cursor()
# curs.execute("Drop table CMI")
# conn.commit()
# curs.execute(queryAlterTableName)
# conn.commit()
curs.execute(queryCMI)
conn.commit()
curs.execute(queryCMIIndex)
conn.commit()
curs.execute(queryCMIInsert)
conn.commit()

In [11]:
dfr = pd.read_sql_query("select count(*) from CMI", conn)
dfr

DatabaseError: Execution failed on sql 'select count(*) from CMI': no such table: CMI

In [44]:
conn = sqlite3.connect('dbase_Sqlite')
dft = pd.read_sql_query("select * from CMI_working WHERE POS=15211 AND CHROM=1", conn)
dft

,CHROM,POS,N_ALLELES,N_CHR_Chinese,Chinese_ALLELE_FREQ_1,Chinese_ALLELE_FREQ_2,Chinese_ALLELE_FREQ_3,Chinese_ALLELE_FREQ_4,ID,N_CHR_Malay,Malay_ALLELE_FREQ_1,Malay_ALLELE_FREQ_2,N_CHR_Indian,Indian_ALLELE_FREQ_1,Indian_ALLELE_FREQ_2
0,1,15211,2,186,T:0.435484,G:0.564516,None,None,rs78601809,118,T:0.635593,G:0.364407,None,None,None